body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.calculatrice
{
  border : 2px outset #282c34;
  background-color: #61dafb;
  margin-left: auto;
  margin-right: auto;
  width : 40%
}

.operations
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width : 100px;
}

button{
  width : 20px;
}